.vscode/settings.json
__pycache__/ccdg_settings.cpython-312.pyc
ccdg/__pycache__/ccdg_players.cpython-312.pyc
ccdg/__pycache__/ccdg_schedule.cpython-312.pyc
ccdg/__pycache__/ccdg_scores.cpython-312.pyc
ccdg/__pycache__/ccdg_standings.cpython-312.pyc
google_apis/google_creds_svc_acct.json
google_apis/__pycache__/google_tasks.cpython-312.pyc
logger/__pycache__/logger.cpython-312.pyc
sql_db/2025.db
sql_db/__pycache__/database.cpython-312.pyc
sql_db/__pycache__/models.cpython-312.pyc
temp/chester-county-disc-golf-weekly-league-2025-03-24.xlsx
